$default-font: 'Poppins', sans-serif
$fontA: 'Roboto', Helvetica, Arial, sans-serif
$fontB: 'Helvetica Neue', Helvetica, Arial, sans-serif
$fontC: 'Montserrat', sans-serif
$fontD: 'Roboto', sans-serif

$accent: #EE1E27
$accent_hover: #D6040D
$colorA: #215D9A
$colorB: #071231
$colorC: #2C93D6
$colorD: #8F3BF2
$colorE: #1E9B9C

$black: #000000
$white: #ffffff
$green: #00A680